name: Build V8 Android

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-22.04

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Install dependencies
        run: |
          sudo apt update
          sudo apt install -y \
            git \
            python3 \
            python3-pip \
            clang \
            lsb-release

      - name: Cache depot_tools
        uses: actions/cache@v4
        with:
          path: depot_tools
          key: depot_tools-v1


      - name: Clone depot_tools
        run: |
          if [ ! -d depot_tools ]; then
            git clone https://chromium.googlesource.com/chromium/tools/depot_tools.git
          fi
          echo "$PWD/depot_tools" >> $GITHUB_PATH

      - name: Cache gclient downloads
        uses: actions/cache@v4
        with:
          path: ~/.cache/gclient
          key: gclient-cache-v8-12.4.254.21

      - name: Cache Android NDK
        uses: actions/cache@v4
        with:
          path: android-ndk-r26d
          key: android-ndk-r26d


      - name: Fetch V8 v12.4.254.21
        run: |
          mkdir v8
          cd v8
      
          fetch v8
          cd v8
      
          git checkout tags/12.4.254.21
      
          gclient sync --force --reset --with_branch_heads --with_tags



      - name: Install Android NDK
        run: |
          if [ ! -d android-ndk-r26d ]; then
            wget https://dl.google.com/android/repository/android-ndk-r26d-linux.zip
            unzip -q android-ndk-r26d-linux.zip
          fi
          echo "ANDROID_NDK_HOME=$PWD/android-ndk-r26d" >> $GITHUB_ENV


      - name: GN gen (android arm64)
        run: |
          cd v8/v8
          gn gen out/android_arm64.release --args='
            is_debug=false
            target_os="android"
            target_cpu="arm64"
            v8_monolithic=true
            v8_use_external_startup_data=false
            v8_enable_i18n_support=false
            use_custom_libcxx=false
          '

      - name: Build V8
        run: |
          cd v8/v8
          ninja -C out/android_arm64.release v8_monolith

      - name: Upload artifacts
        uses: actions/upload-artifact@v4
        with:
          name: v8-android-arm64
          path: v8/v8/out/android_arm64.release/obj/libv8_monolith.a
