name: Build V8 Android

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-22.04

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Test environment
        run: |
          uname -a
          clang --version || true
          python3 --version
